.header {
  width: 100%
}

.content-container {
  padding: 15px;
  box-sizing: border-box;
}

.photo {
  width: 90px;
  margin-left: auto;
  margin-right: auto;
}

.photo-container {
  padding: 25px;
  text-align: center;
}

.table {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.table-head {
  font-size: 16px;
}
.row {
  margin-top: 8px;
}
