.card {
  height: auto;
  width: auto;
  display: inline-block;
  flex-direction: row;
  justify-content: space-between;
  margin: 24px;
  padding: 15px;
}

.left {
  float: left;
  font-size: 18px;
}

.right{
  float: right;
  font-size: 18px;
  font-weight: 500;
}
