.container {
  padding-top: 15px;
}

.row {
  box-sizing: border-box;
  height: auto;
  width: 100%;
  padding: 15px;
  padding-top: 25px;
  justify-content: center;
  text-align: center;
  text-justify: center;
}

.sm {
  display: none;
}

.title {
  text-align: center;
  margin: auto;
  font-size: 18px;
}

.total {
  font-size: 18px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.phase {
  width: 250px;
}

@media screen and (max-width: 450px) {
  .logo {
    width: 60%;
  }
}

@media screen and (min-width: 600px ) and (max-width: 959px) {
  .sm {
    display: block;
  }

  .xs-md-lg {
    display: none;
  }

  .logo {
    height: 90%;
  }
}
