.background {
  padding: 15px;
  box-sizing: border-box;
}

.line,
.project-status,
.marketing {
  height: 100%;
}

.line {
  height: 100%;
  padding: 10px;
}

.details-card {
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  height: 400px;
  padding-bottom: 15px;
}

.basic-info {
  text-align: center;
  padding: 15px;
}

.logo {
  margin: 15px;
}

.name {
  font-size: 24px;
}

.price {
  font-size: 16px;
}

.details {
  padding-top: 24px;
  width: 90%;
  margin: auto;
}

.charts {
  height: 100%;
}

.tabs {
  height: 100%;
}
