.card, .details-card {
  box-sizing: border-box;
  margin: 10px;
  flex-direction: row;
  justify-content: space-between;
  border: 1.5px solid #e8e8e8;
  height: 100%;
}

.card {
  text-align: center;
}

.details-card{
  padding-bottom: 15px;
}

.panel {
  padding: 20px;
}

.logo {
  margin: 25px;
  margin-top: 30px;
}

.name {
  font-size: 30px;
}

.price {
  font-size: 22px;
}

.details {
  padding-top: 24px;
  width: 90%;
  margin: auto;
}

.tabs {
  height: 100%;
}
